.container{
    width: 95%;
    margin: 0 auto;
}
.flex{
    display: flex;
}
.img-thumbail{
    width: 50%;
}
.mt-2{
    margin-top: 2%;
}
.mt-10{
    margin-top: 10%;
}


.header {
    text-align:center;
  
    color:white;
  }
  

@media (max-width: 670px) {
    .flex{
        flex-wrap: wrap;
        justify-content: center;
    }

}