$colorPrimario: rgba(0, 153, 255, 0.85);
@mixin menuResponsive {
  display: grid;
  background-color: $colorPrimario;
  justify-content: center;
  height: 80vh;
}
@mixin menuResponsiveOff {
  display: none;
}
@mixin returnNavbarNormal() {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  background-color: blue;
}
