$colorPrimario: rgba(0, 153, 255, 0.85);
@mixin menuResponsive {
  display: grid;
  background-color: $colorPrimario;
  justify-content: center;
  height: 60vh;
  text-align: center;
}
@mixin menuResponsiveOff {
  display: none;
}
@mixin returnNavbarNormal() {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  background-color: blue;
}
// @mixin flex-center {
//   display: flex;
//   justify-content: center;
//   flex-direction: row;
// }

// Animación del circulo del loading
@mixin Circulo {
  @for $i from 1 through 5 {
    .cir-#{$i} {
      animation: circle-animated-#{$i} 1s alternate-reverse infinite;
      @keyframes circle-animated-#{$i} {
        100% {
          transform: translateY(calc(-1px / $i));
        }
      }
      @if $i==1 {
        transform: translateY(calc(-33px / $i));
        transform: translateX(calc(35px / $i));
      }
      @if $i==2 {
        transform: translateY(calc(100px / $i));
      }
      @if $i==3 {
        transform: translateY(calc(-130px / $i));
      }
      @if $i==4 {
        transform: translateY(calc(47px / $i));
        transform: translateX(calc(-115px / $i));
      }
      @if $i==5 {
        transform: translateY(calc(200px / $i));
      }
    }
  }
}
