@use "mixinFuncions";
// Variables
$colorPrimario: rgba(0, 153, 255, 0.85);
$colorWhitetexto: rgb(220, 220, 220);
$colornegroTexto: rgb(0, 0, 0);
// color de la barra en el hover
$itemColorHover: #ffff;
body {
  width: 100%;
  margin: 0 auto;
}

.nav {
  top: -1%;
  position: sticky;
  background: $colorPrimario;
  height: 4.5rem;
  box-shadow: 1px 1px 9px 1px rgba(0, 0, 0, 0.275);
  &__logo {
    width: 50px;
    height: 40px;
    margin-top: 15px;
    padding-left: 20px;
    position: fixed;
    display: flex;
    align-content: flex-start;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    img {
      width: 60px;
      //   margin-top: 10%;
    }
  }
  &__ul {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    padding: 0;
    margin: 0;
    top: 0;
    padding-right: 20px;
  }
  &__itemlist {
    margin-top: 1.1rem;
    list-style: none;
    font-size: 1.6em;
    margin-left: 1em;
  }
  &__itemref {
    text-decoration: none;
    color: $colorWhitetexto;
  }
  &__itemref:hover {
    color: rgb(255, 255, 255);
    transition: ease-out 0.5s;
    animation: slide_item 0.6s alternate-reverse infinite;
  }
  &__menu-right {
    display: flex;
    // position: relative;
    z-index: 1;
    justify-content: flex-end !important;
    align-content: center;
  }

  &__label,
  &__img {
    text-decoration: none;
    margin-top: 1.3rem;
    padding-right: 10px;
    float: right;
    right: 0;
    top: 0;
    width: 2em;
    // cambié visibility:hidden por display none
    display: none;
    cursor: pointer;
  }
  &__check {
    text-decoration: none;
    margin-top: 1.6rem;
    margin-right: 1.3%;
    padding-right: 10px;
    float: right;
    right: 0;
    top: 0;
    width: 35px;
    height: 1.8em;
    // cambié visibility:hidden por display none
    display: none;
    cursor: pointer;
    appearance: none;
    border-radius: 5px;
  }
  &__check:active {
    box-shadow: 1px 1px 6px 0.5px;
  }
  input[type='checkbox']:checked + &__ul {
    @include mixinFuncions.menuResponsive;
    animation-duration: 1s;
    animation-name: toggleMenu;
  }
  //   Media query del check
  @media (max-width: 670px) {
    &__label,
    &__img,
    &__check {
      // cambié visibility:visible por display initial
      display: initial;
      position: absolute;
    }
    &__ul {
      @include mixinFuncions.menuResponsiveOff;
    }
  }
}
// ANIMACIÓN DEL MENÚ MOBILE
@keyframes toggleMenu {
  from {
    height: 10vh;
  }

  to {
    height: 60vh;
  }
}
// ANIMACIÓN DEL HOVER EN NAVBAR
@keyframes slide_item {
  0% {
    text-decoration-color: $itemColorHover;
    // text-emphasis-style: open;
    text-emphasis-position: under;
  }
  100% {
    text-decoration: underline 10px;
    // text-emphasis-style: open;
    // text-emphasis-position: under;
    text-decoration-color: $itemColorHover;
  }
}
@keyframes slideLine {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
